body {
    background: #121212;
    color: white;
    font-family: Arial;
    text-align: center;
}

.song {
    background: #181818;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}
